BACKUP_DB_HOST=db_host
BACKUP_DB_PORT=5432
BACKUP_DB_USER=db_user
BACKUP_DB_PASS=db_user_password

PGSQL_BACKUP_HOST=db_host
PGSQL_BACKUP_PORT=5432
PGSQL_BACKUP_USER=db_user
PGSQL_BACKUP_PASS=db_user_password

MONGODB_BACKUP_HOST=db_host
MONGODB_BACKUP_PORT=27017
MONGODB_BACKUP_USER=db_user
MONGODB_BACKUP_PASSWORD=db_user_password

MYSQL_BACKUP_HOST=db_host
MYSQL_BACKUP_PORT=3306
MYSQL_BACKUP_USER=db_user
MYSQL_BACKUP_PASSWORD=db_user_password